html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 70px;
}

/* HERO */

.hero {
    min-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 0 10%;
}

.hero-content {
    max-width: 700px;
}

.hero h1 {
    font-size: 100px;
    margin-bottom: 20px;
}

.hero p {
    line-height: 1.8;
}

.learn-btn {
    display: inline-block;

    margin-top: 20px;

    text-decoration: none;

    background: #0066ff;
    color: white;

    padding: 12px 24px;
    border-radius: 8px;
}
