<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OS Simulator</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/components/header.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">
    </head>
    <body>
        {% include 'components/header.html' %}

        <div class="container">
            <div class="modules-grid">
                <div class="card">
                    <h3>CPU Scheduling</h3>
                    <p><a href="/cpu_scheduling">CPU Scheduling</a></p>
                </div>
                
                <div class="card">
                    <h3>Memory Management</h3>
                    <p>Simulate memory allocation policies, paging, tracking systems, and fragmentation mechanisms.</p>
                </div>

                <div class="card">
                    <h3>File System Simulator</h3>
                    <p>Understand file allocation strategies, directory structures, and storage tracking techniques.</p>
                </div>
            </div>
        </div>
    </body>
</html>