<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OS Simulator</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/components/header.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/homepage.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/contacts.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    </head>
    <body>
        {% include 'components/header.html' %}

        <!-- HERO SECTION -->
        <section class="hero">

            <div class="hero-content">
                <h1>CLOCKED</h1>

                <p>
                    An interactive gateway to understanding the core concepts
                    of Operating Systems. Our platform is designed to simplify
                    complex topics through clear explanations, visual simulations,
                    and user-friendly tools that make learning both engaging and
                    effective.
                </p>

                <a href="#projects-section" class="learn-btn">
                    Learn More →
                </a>
            </div>

        </section>

        <!-- PROJECTS SECTION -->
        {% include 'projects.html' %}

        <!-- CONTACT SECTION -->
        {% include 'contacts.html' %}

    </body>
</html>